/* ----- Global Styles ----*/

body{
  font-family: 'Georgia';
  font-size: 18px;
}

h1{
  font-weight: 700;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 3%;
}
.container{
  padding: 0% 15%;
}
.text{
  padding-top: 5%;
  padding-bottom: 5%;
}


/* ----- Header ----*/

.custom-header{
background-color: black;
padding-top: 1%;
}

#custom-header-tag{
  color: #fff;
  font-style: italic;
  text-align: center;
}

#hamburger-nav{
  margin-top: 25px;
  max-height: 30px;
}

.title{
  margin-top: 5%;
}

/*----- Revenue Graph ----*/
#revenueLine{
  margin-top: 5%;
}

.tuition-intro{
  margin-bottom: 15%;
}
.tuition-history{
  font-family: 'Georgia';
  font-weight: 700;
  font-size: 46px;
}
.tuition-history p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}


/* ---- Media Queries ---*/

@media only screen and (max-width: 700px) {
    .container{
      padding: 0% 7%;
    }

    #custom-header-tag{
      font-size: 14px;
    }

    #wapo-logo{
      max-width: 206px;
      margin-top: 10px;
      margin-bottom: 3px;
    }
    #hamburger-nav{
      max-height: 19px;
      margin-left: 9px;
    }
    .tuition-history{
      font-size: 30px;
    }
    #submit-btn{
      border-style: solid;
      border-width: 1px;
      border-color: black;
    }
}
